@import 'tailwindcss';

@theme {
  --font-google-sans: 'Inter', system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  @apply font-google-sans;
}

body {
  margin: 0;
}

#root {
  /* dynamic viewport height */
  min-height: 100dvh;
  /* backward compatibility */
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}
